/*AI STATEMENT: AI was not used in this. This file was imported from https://github.com/MyScript/interactive-ink-examples-android
into this Android SDK and then edited by our team */

glyph {
  /* Font family must be aligned with the key used to register the corresponding Typeface in typeface map (see DemoModule) */
  font-family: MyScriptInter;
}

.math {
  /* Font family must be aligned with the key used to register the corresponding Typeface in typeface map (see DemoModule) */
  font-family: STIX;
}

.math-variable {
  font-style: italic;
}
